* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

.bg_style {
  background: linear-gradient(to bottom right, rgba(97, 39, 39, 0.442), rgba(41, 40, 40, 0.442)), url('page-background.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

nav {
  border-bottom: 2px solid #d49d12;
  height: 4rem;
}

ul {
  padding-top: 1rem;
  display: flex;
  width: 60%;
  list-style-type: none;
}

ul a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.4rem;
  background: #d49d12;
  margin-right: 0.6rem;
}

.page-title {
  margin-top: 8rem;
}

h1,
h2 {
  text-align: center;
  padding: 0;
   color: #d49d12;
  color: #fff;
}

.active {
  background: rgb(5, 138, 16);
}

footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  text-align: center;
  color: #fff;
  border-top: 2px solid #d49d12;
  width: 100%;
  padding-top: 0.4rem;
}

.section {
  width: 100%;
  background: rgba(97, 39, 39);
  position: absolute;
  top: 4rem;
  height: 83vh;
}

#aboutPage {
  margin: 0 auto;
  width: 60%;
}

#aboutPage p {
  color: #fff;
  font-size: 2rem;
  
  text-align: center;
  margin-top: 4rem;
}

#menuSection {
  overflow-y: scroll;
}

#menuSection h1 {
  margin-top: 2rem;
  padding: 0;
}

#menuPage {
  width: 25%;
  margin: 0 auto;
}

#menuPage h4{
  margin-top: 1rem;
  color: #fff;
  background: rgb(5, 138, 16);
  font-weight: bold;
}

#menuPage h6{
  margin-bottom: 1rem;
  font-style: italic;
  font-weight: bold;
}